/node_modules
/public/hot
/public/storage
/public/app/kifungo.apk
/storage/*.key
/vendor
.configparser
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
