h2 {
	font-weight: bold;
	color: var(--k-dark-blue);
}

.form-section {
	max-width: min-content;
	min-width: 250px;
}

form {
	margin-bottom: 20px;
}

form label {
	color: var(--k-dark-blue);
	margin-bottom: 3px;
}

.form-control:focus {
	color: var(--k-navy-blue)!important;
	border-color: var(--k-navy-blue)!important;
	box-shadow: 0 0 0 .2rem var(--k-blue-op25)!important;
}
.form-button:disabled{
	cursor: default;
	filter: brightness(0.8);
}

.form-button {
	width: 100%;
	background-color: var(--k-navy-blue);
	color: white;
	border: none;
	padding: 8px;
	font-weight: bold;
	border-radius: 5px;
	cursor: pointer;
}

.reg-log {
	border-top: 1px solid var(--k-dark-blue);
}

.reg-log a{
	color: var(--k-blue);
}

.reg-log hr {
	color: var(--k-navy-blue);
}

.switch {
	position: relative;
	display: inline-block;
	width: 50px;
	height: 20px;
}

.switch input {
	opacity: 0;
	width: 0;
	height: 0;
}

.slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #ccc;
	-webkit-transition: .4s;
	transition: .4s;
}

.slider:before {
	position: absolute;
	content: "";
	height: 16px;
	width: 16px;
	left: 4px;
	bottom: 1px;
	background-color: var(--k-dark-blue);
	-webkit-transition: .4s;
	transition: .4s;
}

input:checked + .slider {
	background-color: white;
	border: 1px solid var(--k-dark-blue);
}

input:focus + .slider {
	background-color: white;
	border: 1px solid var(--k-dark-blue);
}

input:checked + .slider:before {
	-webkit-transform: translateX(25px);
	-ms-transform: translateX(25px);
	transform: translateX(25px);
}

/* Rounded sliders */
.slider.round {
	border-radius: 34px;
}

.slider.round:before {
	border-radius: 50%;
}