.form-control {
	background-color: #ffffff36!important;
}

.index-li {
	background: none;
	font-size: 130%;
	border: none;
	list-style: url('/images/icons/pin.svg');

}

.rrss-link {
	text-decoration: none;
}

.download-app {
	color: var(--k-navy-blue) !important;
	font-size: 150%;
}

@media only screen and (min-width: 860px) {
	body {
		background-image: url('/images/web_background.png');
		/*background-size: cover;*/
	}
}

@media only screen and (min-width: 401px) and (max-width: 859px) {
	body {
		background-image: url('/images/web_background_md.png');
		background-size: cover;
	}
}

@media only screen and (max-width: 400px) {
	body {
		background-image: url('/images/web_background_sm.png');
		background-size: cover;
	}

	.incident-detail {
		background-color: var(--k-blue-op45);
	}
}
