:root {
    --main-color:#06c;
    --k-dark-blue:#083740;
    --k-navy-blue:#0f6f80;
    --k-blue:#17a6bf;
    --k-light-blue:#1bc6e6;
    --k-red:#d9534f;
}

main h2{
    font-weight: bold;
    color: var(--k-dark-blue);
}

.top-right-aside {
    height: min-content;
}

.icon .icon-img {
    width: 45px;
}


@media only screen and (min-width: 576px) and (max-width: 991px){
    .icon-group {
        display: flex;
        flex-wrap: wrap;
    }

    #lupa{order: 3}
    #campana{order:2}
    #user{order:1}

    .icon-group .icon {
        margin: auto;
    }
}