:root {
    --main-color:#06c;
    --k-dark-blue:#083740;
    --k-navy-blue:#0f6f80;
    --k-blue:#17a6bf;
    --k-blue-op25:#17a6bf40;
    --k-blue-op10:#17a6bf1a;
    --k-light-blue:#1bc6e6;
    --k-red:#d9534f;
}

main h2, main h5{
    font-weight: bold;
    color: var(--k-dark-blue);
}

.nav-pills {
    width: 70%;
    text-align: center;
    margin: auto;
}

.nav-link{
    color: var(--k-dark-blue);
    background-color: var(--k-blue-op25);
    font-weight: bold;
    margin: 5% 0;
}
.nav-link:hover {
    color: white;
    background-color: var(--k-blue);
}

.nav-link.active {
    color: white;
    background-color: var(--k-navy-blue)!important;
}

/*.nav-link {*/
/*    color: var(--k-dark-blue);*/
/*}*/

.top-right-aside {
    height: min-content;
}

.user-logout {
    text-align: right;
}

main a, .top-right-aside a, main a:hover, .top-right-aside a:hover {
    color: var(--k-blue);
}

.icon .icon-img {
    width: 45px;
}

.filter > * {
    float: right;
    margin: 10px 0;
    width: 85%;
}

/* fake link */
.sp-as-lk {
    color: var(--k-blue);
    cursor: pointer;
}

.li-as-lk {
    color: var(--k-blue);
    cursor: pointer;
}

.li-as-lk:hover {
    text-decoration: underline;
}

.admin-list {
    font-size: large;
    list-style-type: none;
}

.share-incident {
    max-width: max-content;
}

.share-incident .icon-img{
    width: 25px;
}

/* links in bootstrap pagination */
.page-link {
    color: var(--k-blue)!important;
}

.page-item.active .page-link {
    color: white!important;
    background-color: var(--k-blue)!important;
    border-color: #dee2e6!important;
}

.modal-button {
    width: 30%;
    background-color: var(--k-blue);
    color: white;
    border: none;
    padding: 5px;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
}

@media only screen and (max-width: 767px){
    .nav-pills {
        width: 100%;
    }
    .icon .icon-img {
        width: 30px;
    }
}

@media only screen and (max-width: 991px){
    .user-logout{
        text-align: center!important;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px){
    .nav-pills {
        width: 90%;
    }

    .icon .icon-img {
        width: 35px;
    }
}
@media only screen and (min-width: 992px) and (max-width: 1199px){
    .nav-pills {
        width: 75%;
    }
}


@media only screen and (min-width: 576px) and (max-width: 991px){
    .icon-group {
        display: flex;
        flex-wrap: wrap;
    }

    /*#lupa{order: 3}*/
    /*#campana{order:2}*/
    /*#user{order:1}*/

    .icon-group .icon {
        margin: auto;
    }

    .filter > * {
        margin: 5px 0;
        width: 100%;
        text-align: center;
        padding: 6px 0;
    }
}

/*Incidents stylesheet*/
.lateral-nav {
    position: fixed;
    top: 0;
    z-index: 1000;
}

.incident {
    border: 1px solid #dddddd;
    border-radius: 10px;
}

.req-icon {
    position: relative;
    width: 50px;
    float: right;
    bottom: 30px;
    left: 50px;
}

.btn-add-incidcente {
    background-color: var(--k-red);
    padding: 8px;
    text-align: center;
    color: white!important;
    border-radius: 5px;
}

.btn-add-incidcente:hover {
    text-decoration: none;
}